.Profile {
    margin-top: 30px;
}


.Bio {
    margin-left: 150px;
    margin-right: 200px;
}

.Names {
    font-size: 40px;
    text-align: left;
}

.Recipes {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.Recipe {
    display: block;
    height: auto;
    width: auto;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    margin: 5px;
}

.Recipe:hover {
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    transition: .2s ease-in-out;
}
.Found {
    margin-top: 40px;
    margin-bottom: 30px;
}

.RecipeHeart {
    color: red;
    z-index: 10;
    position: absolute;
    right: 0;
    margin: 10px;
}

.RecipeImage {
    z-index: -1;
}

.RecipeText {
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
}

.Users {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.Found {
    margin-top: 40px;
    margin-bottom: 30px;
}

.UserStar {
    color: yellow;
    z-index: 3;
    position: absolute;
    right: 0;
    margin: 10px;
}

.User {
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.2);
    position: relative;
    margin: 5px;
}

.User:hover {
    border: 1px solid rgba(0,0,0,0.4);
    transform: translateY(-3px);
    transition: .2s ease-in-out;
}

.UserImage {
    z-index: -1;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.UserText {
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
}

.Modal {
    z-index: 900;
}

.input {
    margin-top: 1%;
    margin-bottom: 1%;
}

.LoginButton, .SignupButton {
    margin-top:4% !important;
}

.ProfileButton {
    margin-top: 2% !important;
}
