.Recipe {
    height: 300px;
    width: 500px;
    margin: 50px;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.Recipe:hover {
    border: 2px solid black;
}

.search_bar {
    width: 70%;
}

.Search {
    display: inline;
}


.RecipeText {
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
}
