
.prev, .next {
    cursor: pointer;
    top: 50%;
    bottom: 50%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    z-index: 10;
    padding: 25px 10px;
}
.prev {
    float: left;
}
.next {
    float: right;
}
.prev:hover, .next:hover {
    transition: .2s ease-in-out;
    background-color: lightblue;
}
.Error {
    margin-top: 30%;
    word-wrap: normal;
}
.RecipesDetailed {
    border: 1px double #888;
    width: 80%;
    padding: 30px;
    margin-top: 10%;
    margin-bottom: 50px;
    margin-left: 10%;
    position: relative
}
.RecipesImage {
    margin: 20px;
}
.RecipesContent {
    padding: 15px;
}
.RecipesContentStuff {
    padding: 5px;
}

.UserPic {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 51%;
    transform: translateX(-50%);
}
